/* [[Catégorie:CSS du Wiktionnaire|Flexions]] */
/***************************************/
/* Styles des tableaux de conjugaisons */
/***************************************/
.conj-case-grise {
  color: gray;
  background: none;
  font-style: italic;
}

.conj-case-grise a {
  color: #5a5a8e;
}

.conj-case-grise .new {
  color: #8e5a5a;
}

/**********************************/
/*  Style des tables de flexions  */
/**********************************/
table.flextable {
  clear: right;
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
  text-align: center;
  border: none;
}

/* Titres de colonnes */
table.flextable th {
  padding: 0.2em;
}

/* Cacher la case en haut à gauche */
table.flextable .notopleft {
  border: none;
}

/* Cacher une case quelconque */
table.flextable .invisible {
  border: none;
}

/* Sous-titres du tableau */
table.flextable .sous-titre {
  padding: 0.3em;
  border: 1px solid #aaaacc;
  font-weight: bold;
}

/* Cellule normale du tableau */
table.flextable td {
  padding: 0.3em;
}

/* Adjacence de contenus dans les flextables */
table.flextable .colle-gauche {
  border-left: 0;
  text-align: left;
  padding-left: 0;
}

table.flextable .colle-droite {
  border-right: 0;
  text-align: right;
  padding-right: 0;
}

/* Placement à gauche ou droite simplement */
.flextable .droite {
  text-align: right;
}

.flextable .gauche {
  text-align: left;
}
