/* Copié de [[sv:MediaWiki:Gadget-translation_editor.css]] (oldid=1657251) */
/* [[Catégorie:CSS du Wiktionnaire|translation editor]] */
.ed-edit-head {
  margin-right: 0.3em;
}

.ed-added {
  outline: 0.2em #EE8019 dashed;
}

.ed-box {
  display: none;
  position: fixed;
  top: 1em;
  left: 1em;
  padding: 0 0.5em 0 0.5em;
  text-align: left;
  box-shadow: 0 0 0.5em #000;
  border-radius: 4px;
  background: #FBEEBF;
  /* Make sure to appear on top of the left sidebar, which has a z-index of 1 (Nov 2020) */
  z-index: 10;
}

.ed-highlight {
  padding: 3em;
  background: #EE8019;
}

.ed-box .ed-inner {
  padding: 0 1em 1em 1em;
}

.ed-close {
  display: block;
  text-align: right;
  padding: 0 0.3em;
}

.NavHead form {
  display: inline;
}

.ed-gender label > input {
  margin-right: 3px;
  vertical-align: middle;
}

.ed-loading {
  display: none;
}

.ed-errors {
  color: #970302;
}

.ed-error {
  border: 2px solid #970302;
}

.ed-click {
  cursor: pointer;
  color: #0C57A8;
}

.ed-pagename span {
  vertical-align: super;
  color: #0C57A8;
}

.ed-feedback {
  color: #0C57A8;
  cursor: pointer;
  font-size: x-small;
}

/* taille du champ pour ajouter une translittération */
.ed-trans input {
  width: 13em;
}

/* Infobulle expliquant qu'on peut effectuer plusieurs modifications */
.ed-info {
  width: 15em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0 12px 12px 12px;
  background: none repeat scroll 0 0 #FBDFC5;
  margin: 3px;
  padding: 4px;
  font-size: 1.1em;
  display: none;
}

.ed-info-leave {
  color: #970302;
  cursor: pointer;
  font-size: 0.75em;
  text-align: left;
  line-height: 1em;
  display: inline-block;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 0.5em;

}

.ed-info-close {
  float: right;
  font-size: 2em;
  cursor: pointer;
  margin-bottom: -0.15em;
  margin-right: 3px;
}

.ed-info-close:hover,
.ed-info-leave:hover {
  opacity: 0.5;
}

/* Timeless */
.skin-timeless .ed-box {
  z-index: 101; /* Pour éviter d'être caché par la barre de recherche */
}

@media screen and (min-width: 851px) {
  /* pour les écrans où width > 850, la barre de recherche est fixe */
  .skin-timeless .ed-box {
    top: calc(3.125em + 6px) !important; /* Pour apparaitre en bas de la barre de recherche */
  }
}

.skin-timeless form > p {
  margin-bottom: 0.5em; /* comme sur Vector */
}

.skin-timeless .ed-gender {
  margin-top: 0.5em;
}
