/* [[Catégorie:CSS du Wiktionnaire|search-selected-text.css]] */

#search-popup {
  position: absolute;
  background-color: white;
  box-shadow: 3px 3px 3px black;
  border-radius: 3px;
  border: 1px solid black;
  z-index: 1000;
  padding: 0.25em;
}

@media screen {
  html.skin-theme-clientpref-night #search-popup {
    background-color: #292929;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os #search-popup {
    background-color: #292929;
  }
}
