.lua-module-banner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  clear: both;
  width: 80%;
  margin: 0 auto 1em;
  padding: 0.5em;
  background: #def;
  border-color: #aaa;
}

.lua-module-banner p:first-child {
  margin: 0;
}

.lua-module-banner img {
  background: transparent !important;
}

.lua-module-banner .banner-text {
  padding-left: 0.5em;
}

@media screen {
  html.skin-theme-clientpref-night .lua-module-banner {
    background: #003e7b;
    border-color: gray;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html.skin-theme-clientpref-os .lua-module-banner {
    background: #003e7b;
    border-color: gray;
  }
}
